<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kwind.rlfz.course.mapper.CourseUserMapper">
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, user_id
  </sql>

  <!--查用户拥有的课程-->
  <select id="selectCoursesByUser" resultMap="top.kwind.rlfz.course.mapper.CourseMapper.BaseResultMap">
    select * from course
    where course_id in
    (select course_id from course_user
    where user_id=#{id,jdbcType=INTEGER});
  </select>

  <!--查课程拥有的用户-->
  <select id="selectUsersByCourse" resultMap="top.kwind.rlfz.rbac.mapper.UserMapper.BaseResultMap">
    select * from user
    where user_id in
    (select user_id from course_user
    where course_id=#{id,jdbcType=INTEGER});
  </select>

  <!--为用户添加课程-->
  <insert id="insertUserCourse">
    insert into course_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      course_id,
      user_id
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      #{courseId,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER}
    </trim>
  </insert>

  <delete id="deleteUserCourse">
    delete from course_user
    where course_id =#{courseId,jdbcType=INTEGER}
    and user_id =#{userId,jdbcType=INTEGER}
  </delete>


</mapper>