<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../admin/css/pearCommon.css" />
    <link rel="stylesheet" href="../../../component/layui/css/layui.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <img src="{{ d.teacher.headImg}}" style="width: 130px;height: 130px">
                </div>
                <div class="layui-form-item">
                    <p style="color: #5FB878"><b><i class="layui-icon layui-icon-username"></i>姓名：</b></p>
                    <p lay-text="{{ d.teacher.realName}}">黄老师</p>
                </div>
                <div class="layui-form-item">
                    <p style="color: #5FB878"><b><i class="layui-icon layui-icon-cellphone"></i>电话：</b></p>
                    <p lay-text="{{ d.teacher.phoneNum}}">13026355751</p>
                </div>
                <div class="layui-form-item">
                    <p style="color: #5FB878"><b><i class="layui-icon layui-icon-email"></i>邮箱：</b></p>
                    <p lay-text="{{ d.teacher.email}}">870683751@qq.com</p>
                </div>
                <div class="layui-form-item">
                    <p style="color: #5FB878"><b><i class="layui-icon layui-icon-about"></i>介绍：</b></p>
                    <p lay-text="{{ d.teacher.desc}}">阿贾克斯的会发生的回复啊都费劲航空港花开花落刚开始的两个看教室的</p>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="../../component/layui/layui.js"></script>

</body>
</html>