<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kwind.rlfz.sign.mapper.UserSignMapper">
  <resultMap id="BaseResultMap" type="top.kwind.rlfz.sign.pojo.UserSign">
    <!--@mbg.generated-->
    <!--@Table user_sign-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="sign_id" jdbcType="INTEGER" property="signId" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, sign_id, sign_time
  </sql>

  
  <select id="selectByUser" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from user_sign
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <insert id="insertUserSign" parameterType="top.kwind.rlfz.sign.pojo.UserSign">
    insert into user_sign(user_id, sign_id, sign_time) values
    (#{userId,jdbcType=VARCHAR},#{signId,jdbcType=INTEGER},#{signTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>