<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kwind.rlfz.practical.mapper.PracticalMapper">
  <resultMap id="BaseResultMap" type="top.kwind.rlfz.practical.pojo.Practical">
    <!--@mbg.generated-->
    <!--@Table practical-->
    <id column="practical_id" jdbcType="INTEGER" property="practicalId" />
    <result column="practical_name" jdbcType="VARCHAR" property="practicalName" />
    <result column="practical_cover" jdbcType="VARCHAR" property="practicalCover" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="practical_url" jdbcType="VARCHAR" property="practicalUrl" />
    <result column="practical_click" jdbcType="INTEGER" property="practicalClick" />
  </resultMap>

  <sql id="Base_Column_List">
    practical_id, practical_name, practical_cover, subject_id, practical_url, practical_click
  </sql>

  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from practical
    <where>
        <if test="practicalId != null">
            and practical_id=#{practicalId,jdbcType=INTEGER}
            </if>
        <if test="practicalName != null and practicalName!=''">
            and practical_name=#{practicalName,jdbcType=VARCHAR}
        </if>
        <if test="subjectId != null">
            and subject_id=#{subjectId,jdbcType=INTEGER}
        </if>
    </where>
  </select>

  <insert id="insertPractical" parameterType="top.kwind.rlfz.practical.pojo.Practical">
    insert into practical(practical_name,practical_cover,subject_id,practical_url,practical_click) values
    (#{practicalName,jdbcType=VARCHAR}, #{practicalCover,jdbcType=VARCHAR},#{subjectId,jdbcType=INTEGER},#{practicalUrl,jdbcType=VARCHAR},#{practicalClick,jdbcType=INTEGER})
</insert>

  <update id="updateByPractical" parameterType="top.kwind.rlfz.practical.pojo.Practical">
    update practical
    <set>
      <if test="practicalName != null and practicalName!=''">
        practical_name = #{practicalName,jdbcType=VARCHAR},
      </if>
      <if test="practicalCover != null and practicalCover!=''">
        practical_cover = #{practicalCover,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="practicalUrl != null and practicalUrl!=''">
        practical_url = #{practicalUrl,jdbcType=VARCHAR},
      </if>
      <if test="practicalClick != null">
        practical_click = #{practicalClick,jdbcType=INTEGER},
      </if>
    </set>
    where practical_id=#{practicalId,jdbcType=INTEGER}
  </update>


<delete id="deleteById">
        delete from practical where practical_id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id,jdbcType=VARCHAR}
        </foreach>
</delete>

<update id="updatePracticalClick">
     update practical
        <set>
            practical_click = practical.practical_click +1
        </set>
        where practical_id=#{practicalId,jdbcType=INTEGER}
    </update>

 <select id="selectBySubjectId" resultMap="BaseResultMap">
    select practical_id,practical_name,practical_cover,subject_id,practical_url,practical_click
    from practical
     where subject_id=#{id,jdbcType=INTEGER}
</select>

</mapper>